.container {
    padding: 4px 16px;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 8px;
    border-right-style: solid;
    border-right-color: transparent;

    &[data-role="system"] {
        border-left-color: rgb(255 199 96);
        border-right-color: rgb(255 199 96);
        &:hover {
            background-color: rgb(255, 199, 96, 0.05);
        }
    }
    &[data-role="assistant"] {
        border-left-color: rgb(96 186 255);
        &:hover {
            background-color: rgb(96, 186, 255, 0.05);
        }
    }
    &[data-role="user"] {
        border-right-color: rgb(255 96 199);
        &:hover {
            background-color: rgb(255, 96, 199, 0.05);
        }
    }
    &[data-role="tool"] {
        border-left-color: rgb(65 111 171);
        &:hover {
            background-color: rgb(65, 111, 171, 0.05);
        }
    }
    &[data-role="function"] {
        border-left-color: rgb(65 111 171);
        &:hover {
            background-color: rgb(65, 111, 171, 0.05);
        }
    }

    & + & {
        margin-top: 16px;
    }
    &[data-role="system"] + &[data-role="system"] {
        margin-top: 0;
    }
    &[data-role="assistant"] + &[data-role="assistant"] {
        margin-top: 0;
    }
    &[data-role="user"] + &[data-role="user"] {
        margin-top: 0;
    }
    &[data-role="tool"] + &[data-role="tool"] {
        margin-top: 0;
    }
    &[data-role="function"] + &[data-role="function"] {
        margin-top: 0;
    }

    & > :global(.chat-message-item) + :global(.chat-message-item) {
        margin-top: 8px;
    }
}

.generating {
    color: #AAAAAA;
    font-style: italic;
}
