.container {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 8px;
    border-right-style: solid;
    border-right-color: transparent;
}

.inputContainer {
    & > textarea {
        display: block;
        resize: vertical;
        border: 1px solid #ccc;
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        font-family: inherit;
        background-color: #eee;
    }
}

.actionContainer {
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.controls {
    display: flex;
    gap: 4px;

    & > button {
        padding: 4px 12px;
        min-width: 32px;
        height: 32px;
        border-radius: 0;
        border: 1px solid #ccc;
        font-family: inherit;
        cursor: pointer;
    }
}
