.container {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 8px;
    border-right-style: solid;
    border-right-color: transparent;

    &[data-role="system"] {
        border-left-color: var(--color-message-system);
        border-right-color: var(--color-message-system);
    }
    &[data-role="assistant"] {
        border-left-color: var(--color-message-assistant);
    }
    &[data-role="user"] {
        border-right-color: var(--color-message-user);
    }
    &[data-role="tool"] {
        border-left-color: var(--color-message-tool);
    }
    &[data-role="function"] {
        border-left-color: var(--color-message-function);
    }

}

.inputContainer {
    & > textarea {
        display: block;
        resize: vertical;
        border: none;
        box-sizing: border-box;
        width: 100%;
        padding: 16px;
        font-family: inherit;
        background-color: #eee;
    }
}

.actionContainer {
    display: flex;
    gap: 4px;

    & > div:first-of-type {
        flex: 1;
    }

    & > div > select {
        padding: 4px 8px;
        min-width: 32px;
        height: 32px;
        border: none;
        border-radius: 0;
    }


    & > div:nth-of-type(3) {
        display: flex;
        gap: 4px;

        & > button {
            padding: 4px;
            min-width: 32px;
            height: 32px;
            border: none;
            border-radius: 0;
        }
    }
}
