.app {
    display: grid;
    grid-template-areas:
            "leftside header rightside"
            "leftside chat rightside"
            "leftside input rightside";
    grid-template-columns: 1fr minmax(300px, 900px) 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
    gap: 16px;
}

.appLeft {
    grid-area: leftside;
}

.appRight {
    grid-area: rightside;
}

.appHeader {
    padding-top: 16px;
    grid-area: header;
    position: sticky;
    top: 0;
}

.appChat {
    grid-area: chat;
}

.appInput {
    padding-top: 16px;
    grid-area: input;
    position: sticky;
    bottom: 0;
    padding-bottom: 16px;
    background-color: #fff;
}
